@media ( max-width : 600px ) {

  .mission-name {
    padding: 8px;
    width: auto;
  }

  hr {
    width: 100%;
  }

  .icon {
    width: 10%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
  }

  .mission-infos {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 4px 0;
  }

}
